---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "../consts"
import { Image } from "astro:assets"
import Logo from "assets/logo.png"
import Agenda from "assets/2030.png"
---

<header class="bg-white px-4 shadow-lg shadow-green-700/10 z-100">
  <nav class="border-gray-200">
    <div class="max-w-screen-xl mx-auto relative flex items-center justify-between p-4 z-100">
      <!-- logo + title -->
      <a href="/" class="flex items-center space-x-3">
        <Image src={Logo} width={30} height={30} class="h-8" alt={`${SITE_TITLE} Logo`} />
        <span class="text-2xl font-semibold whitespace-nowrap text-green-900 hover:text-green-700">{SITE_TITLE}</span>
      </a>

      <!-- mobile menu (overlay panel) -->
      <details class="md:hidden">
        <summary class="flex items-center justify-end p-2 text-green-700 hover:bg-gray-100 rounded-lg cursor-pointer focus:outline-none focus:ring-2 focus:ring-gray-200">
          <span class="sr-only">Toggle menu</span>
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </summary>
        <ul class="absolute top-full left-0 right-0 mt-2 bg-white border border-gray-100 rounded-lg shadow-lg">
          <li>
            <HeaderLink href="/" class="block w-full text-center py-3 text-gray-900 hover:bg-green-100">Home</HeaderLink>
          </li>
          <!--<li>-->
          <!--  <HeaderLink href="/about" class="block w-full text-center py-3 text-gray-900 hover:bg-green-100">About</HeaderLink>-->
          <!--</li>-->
          <li>
            <a href="https://www.agenda-2030.fr/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full py-3 text-gray-900 hover:bg-green-100">
              <Image src={Agenda} alt="Agenda 2030 Logo" width={20} height={20} class="h-6 w-auto mr-2" />
              <span>Agenda 2030</span>
            </a>
          </li>
        </ul>
      </details>

      <!-- desktop nav -->
      <div class="hidden md:flex items-center space-x-8">
        <HeaderLink href="/" class="text-gray-900 hover:text-green-700 transition-colors">Home</HeaderLink>
        <!--<HeaderLink href="/about" class="text-gray-900 hover:text-green-700 transition-colors">About</HeaderLink>-->
        <a href="https://www.agenda-2030.fr/" target="_blank" rel="noopener noreferrer" class="flex items-center text-gray-900 hover:text-green-700 transition-colors">
          <Image src={Agenda} alt="Agenda 2030 Logo" width={20} height={20} class="h-6 w-auto mr-2" />
          <span>Agenda 2030</span>
        </a>
      </div>
    </div>
  </nav>
</header>
